#kwj-url-list{
	font-size: 18px;
	position: fixed;
	top: 50px;
	width: 100%;
	z-index: 1000;
	background: transparent;
}
#kwj-url-list li{
	list-style: none;
}
#kwj-url-list .url_wrapper{
	width: 50%;
	margin: auto;	
	padding: 0 10px;
	background: gray;
	border: 5px solid #ddd;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #ccc;
}
#kwj-url-list .url_list{
	padding: 0;	
	margin: 0;
}
#kwj-url-list .url_list li{
	color: #FAEBD7;
	background: gray;	
	cursor: pointer;
	position: relative;
	border-bottom: 1px dashed #ccc;
	padding: 3px 0;
}
#kwj-url-list .url_list li:last-child{
	border-bottom: none;	
}
#kwj-url-list .info-block{
	text-align: left;
	word-break: break-word;
}
#kwj-url-list .del-url-btn{
	color: #A52A2A;
	display: none;
	font-size: 80%;
	position: relative;
	left: 1em;
}
#kwj-url-list .save{
	font-size: 20px;
	color: #DAA520;	
	cursor: pointer;
	display: inline-block;
	width: 50%;
	background: none;
	text-align: center;
}
#kwj-restore-list .del-all,
#kwj-url-list .cancel,
#kwj-restore-list .cancel{
	font-size: 20px;
	color: wheat;
	cursor: pointer;
	display: inline-block;
	width: 50%;
	background: none;
	text-align: center;
}
#kwj-restore-list .del-all{
	color: #900b09;	
}
#kwj-restore-list{
	width: 70%;
	position: absolute;
	top: 10%;
	left: 15%;
	z-index: 1000;
	border: 1px solid gray;
	border-radius:5px; 
	padding: 1px;
	background: gray; 
	text-align: left;
	color: white;
	box-shadow: 10px 10px 5px #ccc;
} 
#kwj-restore-list .restore-list{
	padding: 0;
	margin: 0;
}
#kwj-restore-list li{
	list-style: none;
}
.item-time{ 
	color: white;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;	
	text-align: left;
	padding: 5px 0 5px 5px;
	width: auto;
	opacity: 0.95;
}
.restore-list-blue{
	background-color: #7fffd4;
}	
.restore-list-blue:hover{
	background-color: #008b8b;
}
.restore-list-green{
	background-color: #8fbc8f; 
}
.restore-list-green:hover{
	background-color: #2e8b57;
}
.restore-list-purple{
	background-color: #ba55d3;
}
.restore-list-purple:hover{
	background-color: #ff00ff;
}
.restore-list-red{
	background-color: #f08080;
}
.restore-list-red:hover{
	background-color: #dc143c;
}
.restore-list-yellow{
	background-color: #ffd700;
}
.restore-list-yellow:hover{
	background-color: #daa520;
}
#kwj-restore-list .item-urls{
	padding: 0;
	margin: 0;
	display: none;
}
#kwj-restore-list .item-url{
	font-size: 14px;
	padding: 10px;
	background: gray;
	border-bottom: 1px dashed #ccc; 
	width: auto;
}
#kwj-restore-list .item-url:hover{
	color: #dcdcdc;
}
#kwj-restore-list .btn{
	width: 100%;
	height: 30px;
	background: gray;
	color: white;
	opacity: 0.6;
}
#kwj-restore-list .btn span{
	line-height: 30px;
	margin-right: 20px;
}
#kwj-restore-list .btn span:hover{
	color: #dcdcdc;
}
#kwj-restore-list .restore-item{
	position: relative;
	cursor: pointer;	
}
#kwj-restore-list .items-tool{
	position: absolute;
	right: 10px;	
}
#kwj-restore-list .close-btn{
	width: 0px;
	height: 0px;
	border: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	right: 15px;
	top: 3px;
}